body{
    background-color: #B3B6B7;
}

.carta{    
    background-color: #B3B6B7;
    height: 40em;      

    align-content: center;
    justify-content: center;      
}

.fototo{
    
    height: 100;
}